.container {
  display: flex;
  column-gap: 1.25rem;
}

.actionWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10rem;
  column-gap: 3rem;
  background-color: var(--lighter-grayish-blue);
  padding: 0.75rem 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
}

.actionWrapper span,
.actionWrapper input[type=text] {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  font-weight: 700;
}

.actionWrapper input[type=text] {
  width: 50px;
}

.iconAnimation:active {
  animation-name: scale;
  animation-duration: 1s;
}

.removeOne,
.addOne {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.removeOne object,
.addOne object {
  pointer-events: none;
}

.removeOne:hover,
.addOne:hover {
  cursor: pointer;
  filter: opacity(90%);
  -webkit-filter: opacity(90%);
}

@keyframes scale {
  from {
    transform: var(--from-\.85);
    -webkit-transform: var(--from-\.85);
    -moz-transform: var(--from-\.85);
    -ms-transform: var(--from-\.85);
    -o-transform: var(--from-\.85);
  }

  to {
    transform: var(--to-\1);
    -webkit-transform: var(--to-\1);
    -moz-transform: var(--to-\1);
    -ms-transform: var(--to-\1);
    -o-transform: var(--to-\1);
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
  }

  .actionWrapper {
    width: 90% !important;
  }
}