.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 48px;
  background-color: var(--orange);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 15px 25px -10px var(--orange);
  transition: all ease-out 100ms;
  -webkit-transition: all ease-out 100ms;
  -moz-transition: all ease-out 100ms;
  -ms-transition: all ease-out 100ms;
  -o-transition: all ease-out 100ms;
}

.addToCart {
  width: 60%;
}

.checkout {
  width: 90%;
}