.wrapper {
  width: 21.5rem;
  height: 13.5rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  /* right: 5rem; */
  top: 5.5rem;
  background-color: var(--white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.wrapper>p:nth-child(1) {
  font-weight: 700;
  padding-left: 1rem;
  padding-top: 0.35rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  border-top: 1px solid var(--light-grayish-blue);
  width: 100%;
}

.contentLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

.emptyWarning {
  display: grid;
  place-content: center;
  height: 100%;
}

.emptyText {
  text-align: center;
  font-weight: 700;
  color: var(--dark-grayish-blue);
}

.previewItem {
  flex-basis: 84px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.cartInfo {
  color: var(--dark-grayish-blue);
}

.cartInfo>p:nth-child(1) {
  text-transform: capitalize;
}

.cartInfo>p:nth-child(2)>span:nth-child(3) {
  color: var(--black);
  font-weight: 700;
}

.deleteIcon:hover {
  cursor: pointer;
  filter: var(--orange-filter);
  -webkit-filter: var(--orange-filter);
}

.deleteIcon:active {
  animation-name: scale;
  -webkit-animation-name: scale;
  animation-duration: .5s;
}

.deleteIcon object {
  pointer-events: none;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}

@keyframes scale {
  from {
    transform: var(--from-\.85);
    -webkit-transform: var(--from-\.85);
    -moz-transform: var(--from-\.85);
    -ms-transform: var(--from-\.85);
    -o-transform: var(--from-\.85);
  }

  to {
    transform: var(--to-\1);
    -webkit-transform: var(--to-\1);
    -moz-transform: var(--to-\1);
    -ms-transform: var(--to-\1);
    -o-transform: var(--to-\1);
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    max-width: 25rem;
    width: 95%;
    height: 14rem;
    left: 50%;
    transform: translate(-50%, 15%);
    -webkit-transform: translate(-50%, 15%);
    -moz-transform: translate(-50%, 15%);
    -ms-transform: translate(-50%, 15%);
    -o-transform: translate(-50%, 15%);
}

  .container {
    row-gap: 16px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1439px) {
  .wrapper {
    left: 60%;
  }
}