.footer {
  display: flex;
  flex: 1;
  margin-top: 2rem;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer span {
  display: flex;
  column-gap: 3px;
  font-size: clamp(14px, calc(0.875rem + ((1vw - 3.76px) * 0.188)), 16px);
  min-height: 0vw;
}

.footerCredit:hover {
  color: #0070f3;
}

.footer span a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}