.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.visible {
  background-color: var(--black-semi-transparent);
  width: 100%;
  height: 100%;
  visibility: visible;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: 200ms ease-in;
  -webkit-transition: 200ms ease-in;
  -moz-transition: 200ms ease-in;
  -ms-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
}

.hidden {
  width: 100%;
  height: 100vw;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: 200ms ease-in;
  -webkit-transition: 200ms ease-in;
  -moz-transition: 200ms ease-in;
  -ms-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
}

.galleryWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.galleryPosition {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -44%);
  -webkit-transform: translate(-50%, -44%);
  -moz-transform: translate(-50%, -44%);
  -ms-transform: translate(-50%, -44%);
  -o-transform: translate(-50%, -44%);
}

.productImageAni {
  animation-name: scaleImage;
  animation-duration: 1s;
}

.imageContainer {
  position: relative;
  width: 450px;
  height: 450px;
}

.galleryImageContainer {
  position: relative;
  width: 500px;
  height: 500px;
}

.productPictureRelative {
  position: relative;
}

.productImage {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.thumbnailWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1.75rem;
  padding-top: 1.5rem;
}

.thumbnail,
.activeWrapper {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.activeWrapper,
.thumbnailContainer {
  background-color: white !important;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.thumbnail:hover,
.activeThumbnail {
  filter: opacity(.5);
  -webkit-filter: opacity(.5);
}

.thumbnail:hover,
.activeThumbnail,
.productImage,
.iconClose:hover,
.circleWrapper:hover {
  cursor: pointer;
}

.activeWrapper {
  outline: 2px solid var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconClose {
  position: absolute;
  top: 0;
  right: -1.5rem;
  transform: translate(-100%, -150%);
  -webkit-transform: translate(-100%, -150%);
  -moz-transform: translate(-100%, -150%);
  -ms-transform: translate(-100%, -150%);
  -o-transform: translate(-100%, -150%);
}

.iconClose:hover {
  filter: var(--orange-filter);
  -webkit-filter: var(--orange-filter);
}

.circleWrapper {
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--white);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  position: absolute;
  top: 50%;
}

.circleRight img,
.circleLeft img {
  display: block;
  width: auto;
  height: auto;
}

.circleRight img:hover,
.circleLeft img:hover {
  filter: var(--orange-filter);
  -webkit-filter: var(--orange-filter);
}

.circleRight {
  right: -1.5rem;
}

.circleLeft {
  left: -1.5rem;
}

@keyframes scaleImage {
  from {
    transform: var(--from-\.97);
    -webkit-transform: var(--from-\.97);
    -moz-transform: var(--from-\.97);
    -ms-transform: var(--from-\.97);
    -o-transform: var(--from-\.97);
  }

  to {
    transform: var(--to-\1);
    -webkit-transform: var(--to-\1);
    -moz-transform: var(--to-\1);
    -ms-transform: var(--to-\1);
    -o-transform: var(--to-\1);
  }
}

@media screen and (max-width: 480px) {
  .imageContainer {
    position: relative;
    width: 100vw;
    height: 350px;
  }

  .productImage {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
  }

  .thumbnailWrapper {
    display: none !important;
  }

  .iconClose {
    display: none;
  }

  .circleWrapper {
    top: 35% !important;
  }

  .circleRight {
    right: 1rem !important;
  }

  .circleLeft {
    left: 1rem !important;
  }
}

@media screen and (max-width: 820px) {
  .thumbnailWrapper {
    display: none !important;
  }

  .iconClose {
    display: none;
  }

  .circleWrapper {
    top: 45% !important;
  }

  .circleRight {
    right: 0.5rem !important;
  }

  .circleLeft {
    left: 0.5rem !important;
  }
}