.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  grid-auto-rows: 20rem;
  grid-auto-flow: dense;
  column-gap: 2.5rem;
  row-gap: 2rem;
}

.product-wrapper {
  /*outline: 1px solid var(--pale-orange);
  */display: grid;
  place-items: center;
  padding: 0.65rem 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.product-wrapper > p:nth-child(2) {
  text-transform: capitalize;
  text-align: center;
}

.product-value {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.product-value > span:nth-child(1) {
  flex-basis: 75%;
  text-align: center;
  flex-shrink: 2;
  flex-grow: 1;
}
.product-value > span:nth-child(2) {
  flex-basis: 25%;
  flex-shrink: 2;
  flex-grow: 1;
}

.image-wrapper {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
